<%= form_tag(services_path, :method => "get", class: "volunteer-ops-search col-xs-12") do %>
  <div class="flex-row">
    <div class="left-side">
      <%= label_tag(:self_care_category_id, "Self Care Categories", class: 'field-label') %>
    </div>
    <div class="right-side">
      <%= select_tag(:self_care_category_id, options_for_select(SelfCareCategory.all.sort_by(&:name).map{|c|[c.name,c.id]}), { :include_blank => 'All' }) %>
    </div>
  </div>
  <div class="flex-row">
    <div class="right-side">
        <%= text_field_tag(:q, @query, class: 'search-text', placeholder: 'Search for a service...') %>
        <%= submit_tag("Search", class: 'btn btn-success search-btn') %>
    </div>
  </div>
<% end %>