<p id="notice"><%= notice %></p>

<p>
  <strong>Contact:</strong>
  <%= @service.contact_id %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @service.display_name %>
</p>

<p>
  <strong>Service activities:</strong>
  <%= @service.service_activities %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @service.postal_code %>
</p>

<p>
  <strong>Office main phone general phone:</strong>
  <%= @service.office_main_phone_general_phone %>
</p>

<p>
  <strong>Office main email:</strong>
  <%= @service.office_main_email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @service.website %>
</p>

<p>
  <strong>Delivered by organization name:</strong>
  <%= @service.delivered_by_organization_name %>
</p>

<p>
  <strong>Where we work:</strong>
  <%= @service.where_we_work %>
</p>

<p>
  <strong>Self care one to one or group:</strong>
  <%= @service.self_care_one_to_one_or_group %>
</p>

<p>
  <strong>Self care service category:</strong>
  <%= @service.self_care_service_category %>
</p>

<p>
  <strong>Self care category secondary:</strong>
  <%= @service.self_care_category_secondary %>
</p>

<p>
  <strong>Self care service agreed:</strong>
  <%= @service.self_care_service_agreed %>
</p>

<p>
  <strong>Created date:</strong>
  <%= @service.created_date %>
</p>

<p>
  <strong>Modified date:</strong>
  <%= @service.modified_date %>
</p>

<p>
  <strong>Location type:</strong>
  <%= @service.location_type %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @service.street_address %>
</p>

<p>
  <strong>Street number:</strong>
  <%= @service.street_number %>
</p>

<p>
  <strong>Street name:</strong>
  <%= @service.street_name %>
</p>

<p>
  <strong>Street unit:</strong>
  <%= @service.street_unit %>
</p>

<p>
  <strong>Supplemental address 1:</strong>
  <%= @service.supplemental_address_1 %>
</p>

<p>
  <strong>Supplemental address 2:</strong>
  <%= @service.supplemental_address_2 %>
</p>

<p>
  <strong>Supplemental address 3:</strong>
  <%= @service.supplemental_address_3 %>
</p>

<p>
  <strong>City:</strong>
  <%= @service.city %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @service.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @service.longitude %>
</p>

<p>
  <strong>Address name:</strong>
  <%= @service.address_name %>
</p>

<p>
  <strong>County:</strong>
  <%= @service.county %>
</p>

<p>
  <strong>State:</strong>
  <%= @service.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @service.country %>
</p>

<p>
  <strong>Groups:</strong>
  <%= @service.groups %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @service.tags %>
</p>

<p>
  <strong>Activity type:</strong>
  <%= @service.activity_type %>
</p>

<p>
  <strong>Summary of activities:</strong>
  <%= @service.summary_of_activities %>
</p>

<p>
  <strong>Beneficiaries:</strong>
  <%= @service.beneficiaries %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
