<div class="row">
  <div class="span6">
    <h3 class= <%= @proposed_organisation_edit.has_proposed_edit?(:name) ? "current_value": ""%>>
      <%= @organisation.name %>
    </h3>
    <p>
      <%= simple_format @organisation.description, class: @proposed_organisation_edit.has_proposed_edit?(:description) ? "current_value" : "" %>
    </p>

    <% if @proposed_organisation_edit.editable?(:address) %>
      <p class= <%= @proposed_organisation_edit.has_proposed_edit?(:address) ? "current_value": ""%>>
        <b>Address:</b>
        <%= @organisation.address %>
      </p>
    <% end %>

    <% if @proposed_organisation_edit.editable? :postcode %>
        <p class= <%= @proposed_organisation_edit.has_proposed_edit?(:postcode) ? "current_value": ""%>>
          <b>Postcode:</b>
          <%= @organisation.postcode %>
        </p>
    <% end %>

    <% if @proposed_organisation_edit.editable?(:email) %>
        <p class= <%= @proposed_organisation_edit.has_proposed_edit?(:email) ? "current_value": ""%>>
          <b>Email:</b>
          <a href="mailto:<%= @organisation.email %>"><%= @organisation.email %></a>
        </p>
    <% end %>
    <% if @proposed_organisation_edit.editable? :website %>
      <p class= <%=  @proposed_organisation_edit.has_proposed_edit?(:website) ? "current_value": ""%>>
        <b>Website:</b>
          <%= link_to @organisation.website, @organisation.website, {:target => '_blank'} %>
      </p>
    <% end %>
    <% if @proposed_organisation_edit.editable?(:telephone) %>
      <p class= <%= @proposed_organisation_edit.has_proposed_edit?(:telephone) ? "current_value": ""%>>
        <b>Telephone:</b>
        <%= @organisation.telephone %>
      </p>
    <% end %>
    <% if @proposed_organisation_edit.editable?(:donation_info)  %>
        <p class= <%=  @proposed_organisation_edit.has_proposed_edit?(:donation_info) ? "current_value": ""%>>
          <b>Donation Info:</b>
          <%= @organisation.donation_info %>
        </p>
    <% end %>
  </div>
  <div class="span6">
    <h3 class= <%=  @proposed_organisation_edit.has_proposed_edit?(:name) ? "proposed_value": ""%>>
      <%= @proposed_organisation_edit.name %>
    </h3>
    <p>
      <%= simple_format @proposed_organisation_edit.description, class: @proposed_organisation_edit.has_proposed_edit?(:description) ? "proposed_value" : ""%>
    </p>
    <% if @proposed_organisation_edit.editable?(:address) %>
      <p class= <%= @proposed_organisation_edit.has_proposed_edit?(:address) ? "proposed_value": ""%>>
        <b>Address:</b>
        <%= @proposed_organisation_edit.address %>
      </p>
    <% end %>

    <% if @proposed_organisation_edit.editable? :postcode %>
        <p class= <%= @proposed_organisation_edit.has_proposed_edit?(:postcode) ? "proposed_value": ""%>>
          <b>Postcode:</b>
          <%= @proposed_organisation_edit.postcode %>
        </p>
    <% end %>

    <% if @proposed_organisation_edit.editable?(:email) %>
      <p class= <%=  @proposed_organisation_edit.has_proposed_edit?(:email) ? "proposed_value": ""%>>
        <b>Email:</b>
        <a href="mailto:<%= @proposed_organisation_edit.email %>"><%= @proposed_organisation_edit.email %></a>
      </p>
    <% end %>
    <% if @proposed_organisation_edit.editable? :website %>
      <p class= <%=  @proposed_organisation_edit.has_proposed_edit?(:website) ? "proposed_value": ""%>>
        <b>Website:</b>
          <%= link_to @proposed_organisation_edit.website, @proposed_organisation_edit.website, {:target => '_blank'} %>
      </p>
    <% end %>
    <% if @organisation.telephone.present? && @organisation.publish_phone? %>
        <p class= <%= @proposed_organisation_edit.has_proposed_edit?(:telephone) ? "proposed_value": ""%>>
          <b>Telephone:</b>
          <%= @proposed_organisation_edit.telephone %>
        </p>
    <% end %>
    <% if @proposed_organisation_edit.editable? :donation_info %>
        <p class= <%=  @proposed_organisation_edit.has_proposed_edit?(:donation_info) ? "proposed_value": ""%>>
          <b>Donation Info:</b>
          <%= @proposed_organisation_edit.donation_info %>
        </p>
    <% end %>
  </div>
</div>
