<%= form_for(setup_organisation(@organisation)) do |f| %>
    <table class="org_table" >
      <thead>
      </thead>
      <tbody>
      <tr>
        <td data-toggle="tooltip" title="Enter a unique name">
          <%= f.text_area :name, :size => "50x4", :class => "wide_form org_h3", :placeholder => "Enter organisation name" %>
        </td>
        <td class="borderless">
          <input type="checkbox" class="publish" disabled checked = "checked" value="">
        </td>
      </tr>
      <tr>
        <td class="borderless" data-toggle="tooltip" title="Enter a full description here. When an individual searches this database all words in this description will be searched.">
          <%= f.text_area :description, :class => "wide_form", :cols => "10", :rows => "10", :placeholder => "Enter organisation description" %>
        </td>
        <td class="borderless">
          <input type="checkbox" class="publish" disabled checked = "checked" value="">
        </td>
      </tr>
      <tr><td><h4>
        Contact information
      </h4></td></tr>
      <tr>
        <td data-toggle="tooltip" title="Enter a complete address">
          <%= f.text_field :address, :class => "wide_form", :placeholder => "Enter organisation address"%>
        </td>
        <td class="borderless" data-toggle="tooltip" title="Toggle to change the visibility of your address">
          <%= f.check_box :publish_address, :class => 'publish' %>
        </td>
      </tr>
      <tr>
        <td class="borderless" data-toggle="tooltip" title="Make sure post code is accurate">
          <%= f.text_field :postcode, :class => "wide_form", :placeholder => "Enter organisation post code" %>
        </td>
        <td class="borderless">
          <input type="checkbox" class="publish" disabled checked = "checked" value="">
        </td>
      </tr>
      <tr>
        <td class="borderless" data-toggle="tooltip" title="Make sure email is correct">
          <%= f.text_field :email, :class => "wide_form", :placeholder => "Enter organisation email address" %>
        </td>
        <td class="borderless" data-toggle="tooltip" title="Toggle to change the visibility of your email address">
          <%= f.check_box :publish_email, :class => 'publish' %>
        </td>
      </tr>
      <tr>
        <td class="borderless" data-toggle="tooltip" title="Make sure url is correct">
          <%= f.text_field :website, :class => "wide_form", :placeholder => "Enter organisation website url" %>
        </td>
        <td class="borderless">
          <input type="checkbox" class="publish" disabled checked = "checked" value="">
        </td>
      </tr>
      <tr>
        <td class="borderless" data-toggle="tooltip" title="Make sure phone number is correct">
          <%= f.text_field :telephone, :class => "wide_form", :placeholder => "Enter organisation phone number" %>
        </td>
        <td class="borderless" data-toggle="tooltip" title="Toggle to change the visibility of your telephone number">
          <%= f.check_box :publish_phone, :class => "publish"%>
        </td>
      </tr>
      <tr>
        <td class="borderless" data-toggle="tooltip" title="Please enter a website here either to the fundraising page on your website or to an online donation site.">
          <%= f.text_field :donation_info, :class => "wide_form", :placeholder => "Enter organisation donation url" %>
        </td>
        <td class="borderless">
          <input type="checkbox" disabled checked = "checked" value="" class="publish">
        </td>
      </tr>
      <tr>
        <td class="borderless" >
          <div>
            <%= render partial: 'charity_admin_display' %>
          </div>
        </td>
        <td class="borderless">
          <input type="checkbox" class="publish" disabled>
        </td>
      </tr>
    <tr>
      <td class="borderless" data-toggle="tooltip" title="Please enter the details of individuals from your organisation you would like to give permission to update your entry. E-mail addresses entered here will not be made public.">
        <%= text_field_tag 'organisation_admin_email_to_add', value = nil, {:size => 100, class: 'wide_form', :cols => "10", :rows => "3", :placeholder => 'You may add an organisation administrator email here', :rows => "3" } %>
      </td>
      <td class="borderless"></td>
    </tr> 
      </tbody>
    </table>
    <h5>Edit categories</h5>
    <div id = "categories_scroll" style="height:10em;width:60%;border:1px solid #ccc;overflow:auto;padding-left:2px;">
    <%= f.fields_for :category_organisations do |ff| %>
         <%= render partial: 'category_type', locals: {category: ff.object.category.name} %>
        <div>
          <%= ff.check_box :_destroy,
                           {:checked => ff.object.persisted?},
                           '0', '1'
          %>
          <%= ff.label :_destroy, ff.object.category.name, class: "checkbox inline", style: "padding-left: 2px;"%>
          <%= ff.hidden_field :category_id %>
        </div>
    <% end %>
    </div>

    <br>
    <div class="actions">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>

<% end %>
