<%= form_tag("/organisations/search", :id => "organisation_search", :method => "get") do %>
  <div class="flex-column">
    <div class="flex-row">
      <div class="left-side">
        <%= label_tag(:q, "What They Do", class: 'field-label') %>
      </div>
      <div class="right-side">
        <%= select("category", "id", @what_they_do, { :include_blank => 'All' }) %>
      </div>
    </div>
    <div class="flex-row">
      <div class="left-side">
        <%= label_tag(:q, "Who They Help", class: 'field-label') %>
      </div>
      <div class="right-side">
        <%= select("category", "id", @who_they_help, { :include_blank => 'All' }) %>
      </div>
    </div>
    <div class="flex-row">
      <div class="left-side">
        <%= label_tag(:q, "How They Help", class: 'field-label') %>
      </div>
      <div class="right-side">
        <%= select("category", "id", @how_they_help, { :include_blank => 'All' }) %>
      </div>
    </div>
    <div class="flex-row">
      <div class="left-side">
        <%= label_tag(:q, "Optional Search Text", class: 'field-label') %>
      </div>
      <div class="right-side">
        <%= text_field_tag(:q, @query_term || '') %>
        <%= submit_tag "Submit", { :class => 'btn btn-info' } %>
      </div>
    </div>
  </div>
<% end %>

<div id="orgs_scroll">
  <div class="table">
    <table>
      <% @organisations.each do |organisation| %>
        <tr>
          <td>
            <u><%= link_to organisation.name, organisation %></u><br/>
            <%= smart_truncate(organisation.description) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div style="width:50%;float:left">
  <%= link_to_if(current_user.try(:admin?), 'Add Organisation',
                 new_organisation_path){} %>
</div>

<% render partial: 'shared/map_scripts', locals: {markers: @markers} %>
