<%= form_tag("/organisations/search", :method => "get") do %>
  <%= label_tag(:q, "What They Do:") %>
  <%= select("category", "id", @what_they_do, { :include_blank => 'All' }, { :style => 'margin-bottom: 5px;' }) %>
  <%= label_tag(:q, "Who They Help:") %>
  <%= select("category", "id", @who_they_help, { :include_blank => 'All' }, { :style => 'margin-bottom: 5px;' }) %>
  <%= label_tag(:q, "How They Help:") %>
  <%= select("category", "id", @how_they_help, { :include_blank => 'All' }, { :style => 'margin-bottom: 5px;' }) %>
  <%= submit_tag "Submit", { :class => 'btn btn-info',
                             :style => 'margin-bottom: 5px;' } %>
  <%= text_field_tag(:q, @query_term || '',
                     { :style => 'margin-bottom: 5px; width: 240px;',
                       :placeholder => "optional search name/description" }) %>
<% end %>

<div id="orgs_scroll" style="height:340px;width:100%;border:1px solid #ccc;overflow:scroll;">
  <div class="table table-bordered">
    <table>
      <div id="organisations">
        <% @organisations.each do |organisation| %>
          <tr>
            <td>
              <u><%= link_to organisation.name, organisation %></u><br/>
              <%= smart_truncate(organisation.description) %>
            </td>
          </tr>
        <% end %>
      </div>
    </table>
  </div>
</div>
<br/>

<div style="width:50%;float:left">
  <%= link_to_if(current_user.try(:admin?), 'Add Organisation',
                 new_organisation_path){} %>
</div>

<% render partial: 'shared/map_scripts', locals: {markers: @markers} %>
