<% content_for :scripts do %>
    <%= javascript_include_tag 'this_is_my_org' %>
<% end %>

<div class="row">
  <h3>
    <%= @organisation.name %>
  </h3>

  <p>
    <%= simple_format @organisation.description %>
  </p>


  <h4>
    Contact information
  </h4>
  <% if @organisation.address.present? && @organisation.publish_address? %>
      <p>
        <b>Address:</b>
        <%= @organisation.address %>
      </p>
  <% end %>
  <% if @organisation.postcode.present? %>
      <p>
        <b>Postcode:</b>
        <%= @organisation.postcode %>
      </p>
  <% end %>
  <% if @organisation.email.present? && @organisation.publish_email? %>
      <p>
        <b>Email:</b>
        <a href="mailto:<%= @organisation.email %>"><%= @organisation.email %></a>
      </p>
  <% end %>
  <% if @organisation.website.present? %>
      <p>
        <b>Website:</b>
        <%= link_to @organisation.website, @organisation.website, {:target => '_blank'} %>
      </p>
  <% end %>
  <% if @organisation.telephone.present? && @organisation.publish_phone? %>
      <p>
        <b>Telephone:</b>
        <%= @organisation.telephone %>
      </p>
  <% end %>
  <% if @organisation.donation_info.present? %>
      <p>
        <b>Donation Info:</b>
        <%= link_to "Donate to #{@organisation.name} now!", @organisation.donation_info, {:target => '_blank'} %>
      </p>
  <% end %>

  <% if @organisation.categories.present? %>
    <p>
      <b>Categories: </b>
      <%= @organisation.categories.map(&:name).join(", ") %>
    </p>
  <% end %>

  <div class="row">
    <div class="position-bottom span6">
      <% if @editable %>
          <%= link_to("Edit", edit_organisation_path(@organisation.id), {:class => 'btn btn-primary'}) %>
      <% end %>
      <% if @deletable %>
          <%= link_to("Delete", organisation_path(@organisation.id), {method: :delete, :class => 'btn btn-danger'}) %>
      <% end %>
      <% if @can_create_volunteer_op and feature_active?(:volunteer_ops_create) %>
          <%= link_to("Create a Volunteer Opportunity", new_organisation_volunteer_op_path(organisation_id: @organisation.id), {:class => 'btn btn-primary'}) %>
      <% end %>
      <% if current_user %>
          <%= link_to "This is my organisation", user_path(pending_organisation_id: @organisation.id, id: current_user.id), {method: :put, class: 'btn btn-primary'} if @grabbable %>
      <% else %>
          <%= link_to "This is my organisation", new_user_session_path, {method: :put, 'data-signed_in' => current_user.present?, id: 'TIMO', class: 'btn btn-primary'} if @grabbable %>
      <% end %>
      <% if @pending_admin %>
        <p class="org-info-msg-1" ><strong>Your request for admin status is pending.</strong></p>
      <% end%> 
    </div>
  </div>
</div>

<% render partial: 'shared/map_scripts', locals: {json: @json} %>
