<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 form-frame">
      <h2>Forgot your password?</h2>

      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post}) do |f| %>
        <div class="form-group">
          <%= devise_error_messages! %>
        </div>

        <div class="form-group">
          <%= f.label 'user_retrieval_email', "Please enter your email address below" %>
          <%= f.email_field :email, :id => "user_retrieval_email", :class => 'form-control', :autofocus => true %>
        </div>

        <div class="form-group">
          <%= f.submit "Send me reset password instructions", :id => "wrap-reset-text", :class => "btn btn-primary btn-block" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
