<% content_for :legend do %>
    <aside>
      <table class='table'>
        <tr>
          <td class='key_image'><%= image_tag('volunteer_icon_doit.png', size:'20x20', alt:'Volunteer opportunities from do-it.org') %></td>
          <td class='key_text'>Volunteer opportunities from <%= link_to 'Do-it', 'https://do-it.org/'%> directory</td>
        </tr>
        <tr>
          <td class='key_image'><%= image_tag('volunteer_icon_reachskills.png', size:'20x20', alt:'Volunteer opportunities from reachvolunteering.org.uk') %></td>
          <td class='key_text'>Volunteer opportunities from <%= link_to 'Reach Volunteering', 'https://reachvolunteering.org.uk' %> directory</td>
        </tr>
        <tr>
          <td class='key_image'><%= image_tag('volunteer_icon_local.png', size:'20x20', alt:'Volunteer opportunities from #{Setting.site_title}') %></td>
          <td class='key_text'>Volunteer opportunities from <%= Setting.site_title %>directory</td>
        </tr>
        <tr>
          <td class='key_image'><%= image_tag('volunteer_icon_mixed.png', size:'20x20', alt:'Volunteer opportunities from #{Setting.site_title}') %></td>
          <td class='key_text'>Volunteer opportunities from <%= Setting.site_title %> and <%= link_to 'Do-it', 'https://do-it.org/'%> directories</td>
        </tr>
      </table>
    </aside>
<% end %>
