<%= form_for(@event) do |f| %>
  <table>
    <thead>
    </thead>
    <tbody>
      <tr>
        <td data-toggle="tooltip" title="Enter a unique title">
          <% if @event.errors[:title].any?%>
            <p class="error-name"><%= @event.errors[:title].first %></p>
          <% end %>
          <%= f.text_area :title, :size => "50x4", :class => "wide_form event_h3", :placeholder => "Enter event title" %>
        </td>
      </tr>
      <tr>
        <td class="borderless" data-toggle="tooltip" title="Enter a full description here. When an individual searches this database all words in this description will be searched.">
          <% if @event.errors[:description].any?%>
            <p class="error"><%= @event.errors[:description].first %></p>
          <% end %>
          <%= f.text_area :description, :class => "wide_form", :cols => "10", :rows => "10", :placeholder => "Enter event description" %>
        </td>
      </tr>
      <td><h3>
          Start Date
        </h3></td>
        <tr>
          <td data-toggle="tooltip" title="Enter the start date ">
            <% if @event.errors[:start_date].any?%>
              <p class="error-name"><%= @event.errors[:start_date].first %></p>
            <% end %>
            <%= f.text_field :start_date, 'data-behaviour' => 'datepicker' %>

        </td>
        </tr>
        <tr>
          <td><h3>
              End Date
            </h3></td>
        </tr>
        <tr>
          <td data-toggle="tooltip" title="Enter the end date ">
            <% if @event.errors[:end_date].any?%>
              <p class="error-name"><%= @event.errors[:end_date].first %></p>
            <% end %>
            <%= f.text_field :end_date, 'data-behaviour' => 'datepicker' %>
        </td>
        </tr>
  </table>
  <br />
  <div class="position-bottom col-md-6">
    <div class="actions">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
<%= render partial: 'shared/map_scripts', locals: {markers: @markers} %>
<script type="text/javascript">
    $('[data-behaviour~=datepicker]').datepicker({format: 'dd/mm/yyyy'});
</script>


