<%= render partial: 'shared/map_scripts', locals: {markers: @markers} %>
<%= form_tag("/events/search", :method => "get", class: "volunteer-ops-search") do %>
  <div class="flex-row">
    <div class="left-side">
        <%= label_tag(:q, "Search Text", class: 'field-label') %>
    </div>
    <div class="right-side">
        <%= text_field_tag(:q, @query, class: 'search-text', value: params["q"]) %>
        <%= submit_tag("Submit", class: 'btn btn-info search-btn') %>
    </div>
  </div>
<% end %>

<% if !@events.empty? %>
<% @events.each do |event| %>
    Title: <%= link_to event.title, event %>
    Description: <%= event.description %><br>
  <% end %>
  
<% else %>
  "The event you have searched for does not exist. Try another key word and search again."
<% end %>

