<div class="event-box">
  <h2><%=@event.title%></h2>
  <p><%=@event.description%></p>
  <p>Start date: <%=@event.start_date.strftime("%A, %B %d, %Y")%> at <%= @event.start_time.strftime("%H:%M") if @event.start_time%></p>
  <p>End date: <%=@event.end_date.strftime("%A, %B %d, %Y")%> at <%= @event.end_time.strftime("%H:%M") if @event.end_time%> </p>
</div>
<%= render partial: 'shared/map_scripts', locals: {markers: @markers} %>
