<div class="event-box">
  <h2><%=@event.title%></h2>
  <h4><%=@event.description%></h4>
  <p>Start date: <%=@event.start_date%></p>
  <p>End date: <%=@event.end_date%></p>
</div>
<%= render partial: 'shared/map_scripts', locals: {markers: @markers} %>