<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'volunteer_ops/volunteer_op', locals: {volunteer_op: @volunteer_op} %>
<hr>
<%= form_for([@volunteer_op, @doit_vol_op]) do |f| %>
  <% if @doit_vol_op.errors.any? %>
    <div class= "text-danger", id="error_explanation">
      <%= pluralize(@doit_vol_op.errors.count, "error") %> prohibited this volunteer op from being published:
      <ul>
        <% @doit_vol_op.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 
  <div class="form-group">
    <%= f.label :doit_org_id, 'Doit organisation' %>
    <div id="doit_org_list">
      <i class="fa fa-spinner fa-spin fa-fw"></i>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :advertise_start_date %>
    <div class="input-group date">
      <%= f.text_field :advertise_start_date, class: 'form-control' %>
      <span class="input-group-addon" >
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </span>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :advertise_end_date %>
    <div class="input-group date">
      <%= f.text_field :advertise_end_date, class: 'form-control'%>
      <span class="input-group-addon" >
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </span>
    </div>
  </div>
  <%= f.submit "Publish to Doit", class: 'btn btn-primary disabled'  %> or <%= link_to 'Cancel', volunteer_op_path(@volunteer_op), class: 'text-danger' %>
<% end %>
  </div>
</div>
