  <div class="well">
    <table class="table table-responsive table-hover sortable">
       <thead>
          <tr>
            <th>User Email</th>
            <th>Last Login</th>
            <th>Associated Organisation</th>
            <th>Pending Organisation</th>
            <th> </th>
          </tr>
        </thead>
      <% @users.each do |user| %>
        <tr id="<%= user.id %>" class="actions-right">
          <td><%= user.email %></td>
          <td><%= time_ago_in_words_with_nils(user.last_sign_in_at) %> </td>
          <td><%= user.organisation.name if user.organisation %></td>
          <td>
            <% if user.pending_organisation %>
              <%= user.pending_organisation.name %>
            <% end %>
          </td>
          <td>
            <div class="btn-group">
              <% if user.pending_organisation %>
                <%= link_to(user_report_path(id: user.id, pending_org_action: "approve"), :method => :put, :class => "btn btn-mini btn-success",
                           style: "border-radius: 3px; margin-right: 3px;") do %>
                  <i class="icon-thumbs-up-alt icon-small"></i> Approve</a>
                <% end %>
              <% end %>
              <% if user.pending_organisation %>
                <%= link_to(user_report_path(id: user.id, pending_org_action: "decline"), :method => :put, :class => "btn btn-mini btn-warning",
                           style: "border-radius: 3px; margin-right: 3px;") do %>
                  <i class="icon-thumbs-down-alt icon-small"></i> Decline</a>
                <% end %>
              <% end %>
              <%= link_to(user_reports_path(id: user.id), :method => :delete, :class => "btn btn-mini btn-danger",
                         style: "border-radius: 3px;") do %>
                <i class="icon-trash icon-small"></i> Delete
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

