  <div>
    <table class="table table-responsive table-striped  sortable">
       <thead>
          <tr>
            <th>User Email</th>
            <th>Last Login</th>
            <th>Associated Organization</th>
            <th>Pending Organization</th>
            <th> </th>
          </tr>
        </thead>
      <% @users.each do |user| %>
        <tr id="<%= user.id %>">
          <td><%= user.email %></td>
          <td><%= time_ago_in_words_with_nils(user.last_sign_in_at) %> </td>
          <td><%= user.organization.name if user.organization %></td>
          <td><%= user.pending_organization.name if user.pending_organization %></td>
          <td><%= link_to('Approve', user_report_path(id: user.id), :method => :put) if user.pending_organization %></td>
        </tr>
      <% end %>
    </table>
  </div>

