<%= form_for(@volunteer_op, url: organisation_volunteer_ops_path(params[:organisation_id]) ) do |f| %>
  <% if @volunteer_op.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@volunteer_op.errors.count, "error") %> prohibited this volunteer_op from being saved:</h2>

      <ul>
      <% @volunteer_op.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="form-actions">
    <%= f.submit button_text(@volunteer_op), class: 'btn btn-primary' %>
  </div>
<% end %>
