<h3>
  <%= volunteer_op.title %>
</h3>

<p>
  <%= simple_format auto_link volunteer_op.description %>
</p>

<% if volunteer_op.address_complete? %>
  <p>
    <b>Volunteer opportunity location:</b>
    <%= "#{ volunteer_op.address }, #{ volunteer_op.postcode }" %>
  </p>
<% end %>

<p>
  <b>Organisation:</b>
  <%= link_to volunteer_op.organisation.name, organisation_path(volunteer_op.organisation) %>
</p>

<p>
  <b>Organisation description:</b>
  <%= link_to volunteer_op.organisation.description, organisation_path(volunteer_op.organisation) %>
</p>

<p>
  <b>Skills Needed::</b>
  <%= volunteer_op.skills_needed %>
</p>

<p>
  <b>When Volunteer Needed::</b>
  <%= volunteer_op.when_volunteer_needed %>
</p>

<p>
  <b>Role Desciption:</b>
  <%= volunteer_op.role_description %>
</p>

<p>
  <b>Organization Contact Details:</b>
  <%= link_to volunteer_op.organisation.telephone, organisation_path(volunteer_op.organisation) %>
</p>

<p>
  <b>Other Contact Details:</b>
  <%= volunteer_op.contact_details %>
</p>
