<% content_for :scripts do %>
    <%= javascript_include_tag 'map' %>
<% end %>

<% content_for :map do %>
    <%= content_tag "div", "", id: "marker_data", data: {markers: @markers} %>
<% end %>

<br>
<div id="orgs_scroll" style="height:410px;width:100%;border:1px solid #ccc;overflow:scroll;">
  <div class="table table-bordered">
    <table>
      <% @volunteer_ops.each do |op| %>
          <tr>
            <td>
              <strong><%= link_to op.title, op %></strong><br/>

              <div id="organisations">
                <small><%= link_to op.organisation.name, op.organisation %></small>
                <br/>
              </div>
              <%= smart_truncate(op.description) %>
              <br/>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
</div>
