<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @volunteer_op.title %>
</p>

<p>
  <b>Description:</b>
  <%= @volunteer_op.description %>
</p>

<p>
  <b>Organization:</b>
  <%= @volunteer_op.organization %>
</p>


<%= link_to 'Edit', edit_volunteer_op_path(@volunteer_op) %> |
<%= link_to 'Back', volunteer_ops_path %>
