<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 form-frame">
      <h2><%= t "devise.invitations.new.header" %></h2>

      <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
        <div class="form-group">
          <%= devise_error_messages! %>
        </div>

        <% resource.class.invite_key_fields.each do |field| -%>
          <div class="form-group">
            <%= f.label field %>
            <%= f.text_field field, :class => 'form-control' %>
          </div>
        <% end -%>

        <div class="form-group">
          <%= f.submit t("devise.invitations.new.submit_button"), :class => 'btn btn-primary btn-block' %>
        </div>
      <% end %>
    </div>
  </div>
</div>