<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @organization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" data-toggle="tooltip" title="@tooltips['Name']" >
    <%= f.label :name %>
    <%= f.text_field :name, :class => "org_form" %>
  </div>
  <div class="field" data-toggle="tooltip" title="Enter a complete address">
    <%= f.label :address %>
    <%= f.text_field :address, :class => "org_form" %>
  </div>
  <div class="field">
    <%= f.label :postcode %>
    <%= f.text_field :postcode, :class => "org_form" %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :class => "org_form" %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "org_form", :cols => "10", :rows => "10" %>
  </div>
  <div class="field">
    <%= f.label :website %>
    <%= f.text_field :website, :class => "org_form" %>
  </div>
  <div class="field">
    <%= f.label :telephone %>
    <%= f.text_field :telephone, :class => "org_form" %>
  </div>
  <div>
     <%= f.label :donation_info %>
     <%= f.text_field :donation_info, :class => "org_form" %>
  </div>
  <%= charity_admin_display_msg %>
  <div class="field">
    <%= label_tag :organization_admin_email_to_add, "Add an additional organisation administrator email" %>
    <%= text_field_tag 'organization_admin_email_to_add', value = nil, {:size => 100, class: 'org_form'} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
