<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "org_form" %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address, :class => "org_form" %>
  </div>
  <div class="field">
    <%= f.label :postcode %>
    <%= f.text_field :postcode, :class => "org_form" %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :class => "org_form" %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "org_form", :cols => "10", :rows => "10" %>
  </div>
  <div class="field">
    <%= f.label :website %>
    <%= f.text_field :website, :class => "org_form" %>
  </div>
  <div class="field">
    <%= f.label :telephone %>
    <%= f.text_field :telephone, :class => "org_form" %>
  </div>
  <div>
     <%= f.label :donation_info %>
     <%= f.text_field :donation_info, :class => "org_form" %>
  </div>
  <div> 
    <%= @organization.users.first.email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
