<h2>Local organizations</h2>

<%= form_tag("/organizations/search", :method => "get") do %>
  <%= label_tag(:q, "Search Organizations for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Postcode</th>
    <th>Email</th>
    <th>Description</th>
    <th>Website</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organizations.each do |organization| %>
  <tr>
    <td><%= organization.name %></td>
    <td><%= organization.postcode %></td>
    <td><%= organization.email %></td>
    <td><%= organization.description %></td>
    <td><%= organization.website %></td>
    <td><%= link_to 'Show', organization %></td>
    <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
    <td><%= link_to 'Destroy', organization, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= gmaps4rails(@json) %>

<%= link_to 'New Organization', new_organization_path %>
