<h2>Local organizations</h2>

<%= form_tag(organizations_search_path, :method => "get") do %>
    <%= label_tag(:q, "Search Organizations for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag "Search", :class => 'btn btn-info' %>
<% end %>
<hr>
<%= form_tag(new_organization_path, :method => "get") do %>
    <%= label_tag("New Organization:") %>
    <%= submit_tag "New", :class => 'btn btn-info' %>
<% end %>

<hr>
<%= form_tag(organizations_path, :method => "get") do %>
    <%= label_tag("Sorted by:") %>
    Alphabetically <%=radio_button_tag('order',OrganizationsController::ALPHABETICALLY, @order==OrganizationsController::ALPHABETICALLY) %>
    Update date <%=radio_button_tag('order',OrganizationsController::UPDATE_DATE, @order==OrganizationsController::UPDATE_DATE) %>
    ASC <%=radio_button_tag('method',OrganizationsController::ASCENDING, @method==OrganizationsController::ASCENDING) %>
    DSC <%=radio_button_tag('method',OrganizationsController::DESCENDING, @method==OrganizationsController::DESCENDING) %>

    <%= submit_tag "Sort", :class => 'btn btn-info' %>
<% end %>


<div class="table table-bordered">
  <table>

    <% @organizations.each do |organization| %>
        <tr>
          <td><u><%= link_to organization.name, organization %></u><br/>
            <%= smart_truncate(organization.description) %></td>
        </tr>
    <% end %>
  </table>
</div>
<br/>

<% content_for :map do %>
    <br/><br/>
    <%= gmaps("map_options" => {"auto_adjust" => false, "auto_zoom" => true, "center_latitude" => 51.5978,
                                "center_longitude" => -0.3370, "zoom" => 12}, "markers" => {"data" => @json}) %>
<% end %>
