<h2>Local organizations</h2>

<%= form_tag("/organizations/search", :method => "get") do %>
    <%= label_tag(:q, "Search Organizations for:") %>
    <%= text_field_tag(:q, @query_term || '', {:style => 'margin-bottom: 0px;', :placeholder => "optional" }) %>
    <%= submit_tag "Search", :class => 'btn btn-info' %>
    <%= label_tag(:q, "Select Category:") %>
    <!-- select("category", "id", Category.all.collect {|c| [ c.name, c.id ] }, { :include_blank => true }, {:style => 'margin-bottom: 0px;'}) -->
    <%= select("category", "id", @category_options, { :include_blank => true }, {:style => 'margin-bottom: 0px;'}) %>
<% end %>
<div id="orgs_scroll" style="height:300px;width:100%;border:1px solid #ccc;overflow:scroll;">
    <div class="table table-bordered">
      <table>
        <div id="organizations">
          <noscript>
            <% @organizations.each do |organization| %>
                <tr>
                  <td><u><%= link_to organization.name, organization %></u><br/>
                    <%= smart_truncate(organization.description) %></td>
                </tr>
            <% end %>
          </noscript>
        </div>
        <div id="loading" style="text-align: center;display: none;">
          <%= image_tag "loading.gif", :width => '50px' %>
        </div>
        <div id="floating_div" style="display: none;">
          <div style="opacity: 1;">No more organizations</div>
        </div>
      </table>
    </div>
</div>
<noscript><center><%= paginate @organizations %></center></noscript>
<br/>
<div style="width:50%;float:left">
  <%= link_to_if(current_user.try(:admin?), 'New Organization', new_organization_path){} %>
</div>

<% content_for :map do %>
    <br/><br/>
    <%= gmaps("map_options" => {"auto_adjust" => false, "auto_zoom" => true, "center_latitude" => 51.5978,
                                "center_longitude" => -0.3370, "zoom" => 12}, "markers" => {"data" => @json}) %>
<% end %>

<script type="text/javascript"><%= render :partial => 'scrolling.js.erb' %></script>

