<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @organization.name %>
</p>

<p>
  <b>Address:</b>
  <%= @organization.address %>
</p>

<p>
  <b>Postcode:</b>
  <%= @organization.postcode %>
</p>

<p>
  <b>Email:</b>
  <%= @organization.email %>
</p>

<p>
  <b>Description:</b>
  <%= @organization.description %>
</p>

<p>
  <b>Website:</b>
  <%= @organization.website %>
</p>

<p>
  <b>Telephone:</b>
  <%= @organization.telephone %>
</p>

<div>Donation Info
<%= link_to "Donate to #{@organization.name} now!", @organization.donation_info %>
</div>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
