<p></p>

<p>
  <b>Name:</b>
  <%= @organization.name %>
</p>

<p>
  <b>Postcode:</b>
  <%= @organization.postcode %>
</p>

<p>
  <b>Email:</b>
  <%= @organization.email %>
</p>

<p>
  <b>Description:</b>
  <%= @organization.description %>
</p>

<p>
  <b>Website:</b>
  <%= link_to_if(!@organization.website.blank?, @organization.website, @organization.website, {:target => '_blank'}){"We don't yet have a website link for them."}  %>
</p>

<p><b>Donation Info:</b>
<%= donation_info_msg %>
</p>

<%= current_user.pending_organization_id.inspect %>

<%= button_to "This is my organization", {action: "grab", method: "post", id: @organization.id}, {class: "btn btn-large"} unless (current_user.pending_organization_id==@organization.id) %>

<%= link_to_if(@editable, "Edit", edit_organization_path(@organization.id), {:class => 'btn btn-large'}){} %>

<% content_for :map do %>
    <%= gmaps("map_options" => {"auto_adjust" => true, "auto_zoom" => false, "center_latitude" => 51.5978,
                                "center_longitude" => -0.3370, "zoom" => 13}, "markers" => {"data" => @json}) %>
<% end %>
