<footer class="footer">
  <small class="left-footer">
    <% unless Setting.feedback_form_url.blank? %>
    <small id="provided-by-tagline">We'd love to hear your 
    <a href="<%= Setting.feedback_form_url %>" target="_blank">feedback here</a>
    <br>
    <% end %>
    <small id="provided-by-tagline"><%= Setting.site_title %>
    provided by</small> <small><a href="<%= Setting.site_provider_url %>"><%= Setting.site_provider %>&nbsp<%= image_tag(Setting.site_provider_small_logo, :size =>"30x30", alt: Setting.site_provider) %></a>
  </small>
  </small>
</footer>

