<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
       <div class="row">
        <div class="span6">
          <%= image_tag "HCN2.png", :width => "200", :style => "padding: 7px;" %>
        </div>
        <% if (charity_worker_signed_in?)%>
       <div class="span6">
         Signed in as <%= current_charity_worker.email %>.  <%=link_to "Not you?", destroy_charity_worker_session_path, :method => :delete%>  
       </div>
       <% end %>
      <div class="span6">
      <nav>
        <ul class="nav pull-right" style="padding-top:17px;">
          <li><%= link_to "Home", root_path %></li>
          <li><% if (charity_worker_signed_in?)%>
          <%=link_to "Sign Out", destroy_charity_worker_session_path, :method => :delete%>
          <% end %></li>
          <li><% if !(charity_worker_signed_in?)%>
          <%= link_to "New Org?", new_charity_worker_registration_path %>
          <% end %></li>
          <li><% if !(charity_worker_signed_in?)%>
          <%= link_to "Org Login", charity_worker_session_path %>
          <% end %></li>
          <li><%= link_to "Disclaimer", disclaimer_show_path %></li>
        </ul>
      </nav>
      </div>
  </div>
  </div>
  </div>
</header>
