<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
       <div class="row">
        <div class="span6">
          <%= link_to(image_tag("HCN2.png", :width => "200" ), root_path) %>
        </div>
        <% if (user_signed_in?)%>
       <div class="span6">
         Signed in as <%= current_user.email %>.  <%=link_to "Not you?", destroy_user_session_path, :method => :delete%>
       </div>
       <% end %>
      <div class="span6">
      <nav>
        <ul class="nav pull-right">
          <li><% if (user_signed_in?)%>
          <%=link_to "Sign Out", destroy_user_session_path, :method => :delete%>
          <% end %></li>
          <li><% if !(user_signed_in?)%>
          <%= link_to "New Org?", new_user_registration_path %>
          <% end %></li>
          <li><% if !(user_signed_in?)%>
          <%= link_to "Org Login", user_session_path %>
          <% end %></li>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Disclaimer", disclaimer_show_path %></li>
        </ul>
      </nav>
      </div>
  </div>
  </div>
  </div>
</header>
