<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <h1>Harrow Community Network (Alpha)</h1>
       <div class="row">
       <div class="span6">
          <% if (charity_worker_signed_in?)%>
           Signed in as <%= current_charity_worker.email %>.  <%=link_to "Not you?", destroy_charity_worker_session_path, :method => :delete%>
          <% end %>
       </div>
      <div class="span6">
      <nav>
        <ul class="nav pull-right">
          <li><% if (charity_worker_signed_in?)%>
          <%=link_to "Sign Out", destroy_charity_worker_session_path, :method => :delete%>
          <% end %></li>
          <li><% if !(charity_worker_signed_in?)%>
          <%= link_to "Sign In", charity_worker_session_path %>
          <% end %></li>
          <li><% if !(charity_worker_signed_in?)%>
          <%= link_to "New user?", new_charity_worker_registration_path %>
          <% end %></li>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Disclaimer", disclaimer_show_path %></li>
        </ul>
      </nav>
      </div>
  </div>
  </div>
  </div>
</header>
