<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="Harrow Community Network is a service provided by Voluntary Action Harrow to help people find voluntary services in their local community" />
  <meta name="keywords" content="Harrow, Community, Network, volunteer, volunteering, voluntary, organisations, causes" />
  <meta name="google-site-verification" content="NnSd82Tg3wYtm75gYpDTcnfe5HzS5T38cU7oPDRlTD0" />

  <meta name="application-name" content="LocalSupport">

  <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : 'Harrow Community Network' %>"/>
  <meta property="og:url" content="<%= request.original_url %>"/>
  <meta property="og:site_name" content="Harrow Community Network"/>
  <meta property="og:description" content="Harrow Community Network is a service provided by Voluntary Action Harrow to help people find voluntary services in their local community">

  <title><%= content_for?(:title) ? yield(:title) : "Harrow Community Network" %> </title>
  <link rel="icon" href="/assets/favicon.ico" />
  <link rel="apple-touch-icon" href="/assets/apple_touch_icon2.png" />
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
  <%= javascript_include_tag "application" %>
  <!--this is where page-specific scripts are added-->
  <%= yield :scripts %>

</head>

<body>
<% unless cookie_policy_accepted? %>
    <%= render 'layouts/cookie_alert' %>
<% end %>
<div class="page-frame">
  <%= render 'layouts/header' %>
  <section id="main">   <!-- uniquify the child container to create the top margin -->
      <div class="container">  <!-- outermost twitter bootstrap container-->
        <% flash.each do |name, msg| %>
            <div class="row">
              <div class="span8 offset2">
                <div id="flash_<%= "#{name}" %>" class="alert <%= bootstrap_class_for(name)%>">
                  <a class="close" data-dismiss="alert">&#215;</a>
                  <%= content_tag :div, msg %>
                </div>
              </div>
            </div>
        <% end %>
        <div id="content">
          <%= yield %>
        </div>
      </div>
      <br>
      <br>
      <div id="push"></div>
  </section>

</div>
<div id="footer" class="container">
  <hr>
  <div class="row">
    <div class="span5">
      <%= render 'layouts/footer' %>
    </div>
    <div class="span3">
      <%= render 'layouts/footer2' %>
    </div>
    <div class="span4">
      <%= render 'layouts/footer3' %>
    </div>
  </div>
</div>
</body>
</html>
