<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Harrow Community Network" %> </title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <!--this is where the gmaps scripts are added-->
  <%= yield :scripts %>
  <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' type='text/javascript'></script>

</head>

<body>
<% unless cookie_policy_accepted? %>
    <%= render 'layouts/cookie_alert' %>
<% end %>
<div class="page-frame">
  <%= render 'layouts/header' %>
  <section id="main">   <!-- uniquify the child container to create the top margin -->
      <div class="container">  <!-- outermost twitter bootstrap container-->
        <% flash.each do |name, msg| %>
            <div class="row">
              <div class="span8 offset2">
                <div id="flash_<%= "#{name}" %>" class="alert alert-<%= name == :notice ? "success" : "error" %>">
                  <a class="close" data-dismiss="alert">&#215;</a>
                  <%= content_tag :div, msg %>
                </div>
              </div>
            </div>
        <% end %>
        <div id="content">
          <%= yield %>
        </div>
      </div>
      <br>
      <br>
      <div id="push"></div>
  </section>

</div>
<div id="footer" class="container">
  <hr>
  <div class="row">
    <div class="span5">
      <%= render 'layouts/footer' %>
    </div>
    <div class="span2">
      <%= render 'layouts/footer2' %>
    </div>
    <div class="span5">
      <%= render 'layouts/footer3' %>
    </div>
  </div>
</div>
</body>
</html>
