<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Harrow Community Network" %> </title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>

<body>
<%= render 'layouts/header' %>
<section id="main">   <!-- uniquify the child container to create the top margin -->
  <div class="container">  <!-- outermost twitter bootstrap container-->
    <% flash.each do |name, msg| %>
        <div class="row">
          <div class="span8 offset2">
            <div id="flash_<%= "#{name}" %>" class="alert alert-<%= name == :notice ? "success" : "error"%>">
              <a class="close" data-dismiss="alert">&#215;</a>
              <%= content_tag :div, msg %>
            </div>
          </div>
        </div>
    <% end %>

    <div class="row">
      <div class="span6">
        <%= yield :map %>
      </div>
      <div class="span6">
        <%= yield %>
      </div>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="span4">
        <%= render 'layouts/footer' %>
      </div>
      <div class="span4">
        <%= render 'layouts/footer2' %>
      </div>
      <div class="span4">
        <%= render 'layouts/footer3' %>
      </div>
    </div>
  </div>
</section>
<!--this is where the gmaps scripts are added-->
<%= yield :scripts %>
</body>
</html>
