<!DOCTYPE html>
<html>
<head>
  <title>Harrow Community Network</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<% flash.each do |name, msg| %>
<%= content_tag :div, msg, :class => "flash #{name}" %>
<% end %>

<%= render 'layouts/header' %>
<br>
<br>
<br>
<br>
<br>
<div class="container">
<div class="row">
  <div class="span4">
    <%= yield :map %>
  </div>
  <div class="span5">
    <%= yield %>
  </div>
  <div class="span3">
    <h2>Disclaimer</h2>
    Whilst Voluntary Action Harrow has made effort to ensure the information here is accurate and up to date we are reliant on the information provided by the different organisations. No guarantees for the accuracy of the information is made.
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="span4">
    <%= render 'layouts/footer' %>
  </div>
  <div class="span4">
    <%= render 'layouts/footer2' %>
  </div>
  <div class="span4">
    <%= render 'layouts/footer3' %>
  </div>
</div>
</div>
<%= yield :scripts %>
</body>
</html>
